[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/openzeppelin-contracts"]
	path = lib/openzeppelin-contracts
	url = git@github.com:OpenZeppelin/openzeppelin-contracts.git
[submodule "lib/openzeppelin-contracts-upgradeable"]
	path = lib/openzeppelin-contracts-upgradeable
	url = git@github.com:OpenZeppelin/openzeppelin-contracts-upgradeable.git
[submodule "lib/chainlink"]
	path = lib/chainlink
	url = git@github.com:smartcontractkit/chainlink.git
[submodule "lib/Gravita-SmartContracts"]
	path = lib/Gravita-SmartContracts
	url = git@github.com:Gravita-Protocol/Gravita-SmartContracts.git
[submodule "lib/permit2"]
	path = lib/permit2
	url = git@github.com:Uniswap/permit2.git
[submodule "lib/v3-core"]
	path = lib/v3-core
	url = git@github.com:Uniswap/v3-core.git
[submodule "lib/v3-periphery"]
	path = lib/v3-periphery
	url = git@github.com:Uniswap/v3-periphery.git
